body{
    background-color: rgb(35, 47, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botones{
    background-color: chocolate;
    color: black;
    border : solid 2px black;
    border-radius: 6px;
    width: 220px;
    height: 150px;
    margin: 20px;
}
.contenedor{
    font-size: 40px;
    color: brown;
}